$primary-color: #826ae3;
$secondary-color: #fe6dcf;
$font-family: 'Lexend', sans-serif;
$font-color: #c4c1c1;
$background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('$lib/assets/BackgroundImage.jpg');